<div class="main-content">
    <div class="page-title">
        <h1>
            <a href="#" class="me-2"><span class="fas fa-chevron-left"></span></a>
            User Profile List Test
            <div class="tools float-end mb-2">
                <a href="#"><span class="fas fa-save"></span></a>
            </div>
        </h1>

    </div>
    <!-- end page-title -->
    <div class="real-content">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">id</th>
                            <th scope="col">code</th>

                            <th scope="col">Name</th>
                            <th scope="col">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let userprofile of userProfileList; index as i">
                            <!-- <th scope="row">{{ i + 1 }}</th> -->
                            <td> <a class="btn btn-warning" routerLink="/userprofile/{{userprofile.id}}/edit">Edit</a>
                                <a class="btn btn-success" [routerLink]="['/userprofile/',userprofile.id]">Details</a>
                            </td>
                            <td> {{ userprofile.id }}</td>
                            <td> {{ userprofile.code }}</td>
                            <td>{{ userprofile.enName }}</td>
                            <td>{{ userprofile.active }}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>
<!--end real-content-->

<!--end main-content-->