<div class="main-content row">
  <div class="page-title col-sm-12">
      <h1>
          <a href="HMIS-UserIndex.html" class="mr-5"><span
                  class="left glyphicon glyphicon-chevron-left"></span></a>
          User Profile List
          <div class="tools right mb-5">
              <a href="#" data-toggle="modal" data-target="#errorMsg"><span
                      class="glyphicon glyphicon-floppy-disk"></span></a>
          </div>
      </h1>
      <div class="clearfix"></div>

  </div>
  <!-- end page-title -->
  <div class="real-content">
      <!---->
      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">id</th>
              <th scope="col">code</th>

              <th scope="col">Name</th>
              <th scope="col">Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userprofile of userProfileList; index as i">
              <!-- <th scope="row">{{ i + 1 }}</th> -->
              <td> <a class="btn btn-warning" routerLink="/userprofile/{{userprofile.id}}/edit">Edit</a>
                <a class="btn btn-success"  [routerLink]="['/userprofile/',userprofile.id]">Details</a></td>
              <td> {{ userprofile.id }}</td>
              <td> {{ userprofile.code }}</td>
              <td>{{ userprofile.enName }}</td>
              <td>{{ userprofile.active }}</td>
            </tr>
          </tbody>
        </table>


      </div>

  </div>
</div>
<!--end real-content-->

<!--end main-content-->
