
  <div class="left-nav">
      <div class="left-block">
          <a href="HMIS-DoctorIndex.html" class="left-main-link ">
              <span class="fas fa-user"></span>
              <span>Doctor Master File</span>
          </a>
      </div>
      <div class="left-block">
          <a href="HMIS-UserIndex.html" class="left-main-link active">
              <span class="icon-teacher1"></span>
              <span>User Profile</span>
          </a>
      </div>
      <div class="left-block">
        <a routerLink="/userprofile" class="left-main-link " >
            <span class="icon-teacher1"></span>
            <span> User Profile List</span>
        </a>
    </div>
      <div class="left-block">
        <a routerLink="/userprofile/add" class="left-main-link " >
            <span class="icon-teacher1"></span>
            <span>Add User Profile</span>
        </a>
    </div>
    <div class="left-block">
      <a routerLink="/userprofile/edit" class="left-main-link "  >
          <span class="icon-teacher1"></span>
          <span>Edit User Profile</span>
      </a>
  </div>
  </div>

