@media (max-width: 768px) {

    .container-fluid > .navbar-collapse {
        background: rgba(0, 31, 50, 1.0);
    }

    .left-col {
        top: 95px;
    }
}


.nav > li > a:focus,
.nav > li > a:hover,
.head .open > a,
.head .open > a:hover,
.head .open > a:focus {
    background-color: #254a6d;
    color: #fff;
}

ul.nav-head li a {
    color: #fff;
    line-height: 40px;
    padding: 0 15px;
    font-size: 12px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

ul.nav-head li {
    /*	min-height: 40px;
    line-height: 40px;*/
    border-left: 1px solid #1a3a5a;
}

    ul.nav-head li:first-child {
        border-left: none;
    }

ul.nav-head li {
    /*	min-height: 40px;
    line-height: 40px;*/
    border-left: 1px solid #1a3a5a;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
} 

    ul.nav-head li:hover,
    ul.nav-head li.active {
        background-color: #1c3c5d;
    }

.smenu li a {
    height: 25px;
    line-height: 23px !important;
    padding: 0 15px;
    font-size: 12px;
    text-transform: capitalize;
    display: block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.smenu li {
    height: 25px !important;
    display: block;
    float: none;
}

    .smenu li:hover {
        background-color: #254a6d !important;
    }

.lang a {
    font-size: 17px !important;
    line-height: 36px !important;
}

.notification a {
    position: relative;
}

    .notification a span {
        position: absolute;
        bottom: 22px;
        right: 8px;
        background: #fe5353;
        line-height: 15px;
        border-radius: 100%;
        text-align: center;
        padding: 0px 0px;
        font-size: 10px;
        color: #fff;
        font-weight: bold;
        height: 15px;
        width: 15px;
    }

.alert-view {
    width: 250px;
    padding: 10px;
    max-height: 400px;
    background: #fff;
    position: absolute;
    top: 50px;
    display: none;
    right: -100px !important;
    border: 1px solid #aaa;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    z-index: 999;
}

    .alert-view:after {
        content: ' ';
        position: absolute;
        top: -11px;
        background: rgba(255, 255, 255, 0) url(../images/dropdown-arrow.png) no-repeat left top;
        background-size: 16px;
        z-index: 999999999999999999999999999999999999999999999999;
        display: block;
        height: 12px;
        width: 16px;
        left: 45%;
    }

    .alert-view * {
        font-size: 11px;
    }

.alert-messages {
    width: 100%;
    max-height: 370px;
    margin-bottom: 9px;
    overflow-y: auto;
    overflow-x: hidden;
}

.alert-message {
    border-bottom: 1px dashed #26537f;
    margin-bottom: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100%;
}

    .alert-message:hover * {
        text-decoration: underline;
    }
#needassign .alert-name {
    line-height: 36px;
}
.alert-name,
.alert-date {
    color: #26537f;
    font-weight: bold;
}
.alert-img {
    border: 1px solid #aeb2b6;
    margin: 0 5px 0;
}
.alert-details {
    font-weight: normal;
    margin-top: 10px;
    height: 30px;
    line-height: 16px;
    overflow: hidden;
    width: 100%;
}

.alert-all {
    display: block;
    width: 100%;
    background: #eef6fa !important;
    color: #26537f !important;
    height: 30px;
    line-height: 30px !important;
    text-align: center;
    font-weight: bold;
    position: inherit !important;
    bottom: 0;
    left: 0;
}

    .alert-all:hover {
        text-decoration: underline;
    }

header ul li a .glyphicon {
    font-size: 14px;
}

.navbar {
    min-height: 40px;
}

.navbar-toggle {
    border-radius: 3px;
    padding: 5px 8px;
    background-color: transparent;
    border-color: rgba(221, 221, 221, 0) !important;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff !important;
    }



header a:hover,
header a:focus {
    text-decoration: none;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #ffbb00;
    text-decoration: none;
    background-color: transparent;
}

.loaderGif {
    margin: 0 auto;
    display: block;
}
/******************************************************Nurse Filter Bar*************************************/
.nurses-filter .chosen-container-single .chosen-single {
    border: 0px;
    border-radius: 0px;
    background: transparent;
    background: #1d3344;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    color: #fff;
}

.nurses-filter .chosen-with-drop.chosen-container-single .chosen-single {
    color: #fff;
}

.nurses-filter .chosen-container-single .chosen-single span {
    margin-top: 5px;
}

.nurses-filter .btn {
    height: 22px;
    line-height: 10px;
    min-width: 50px;
}

.nurses-filter {
    background: #1d3344;
}
/******************************************************Nurse Panel*************************************/

#patient-panel hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#patient-panel {
    background: #072741;
    color: #FFF;
    margin-bottom: 20px;
    padding: 10px 0;
}
/* panic alert drop down start */
.critical-indicators .open > .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.critical-indicators .open > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.critical-indicators .open > .dropdown-menu {
    display: block;
    min-width: 50px;
    left: unset;
    padding: 0;
    border-radius: 0;
}

.critical-indicators .dropdown {
    position: relative;
    float: left;
    padding: 4px;
}

.critical-indicators .dropdown-menu a {
    white-space: nowrap !important;
    border-bottom: 1px solid #ccc;
    width: 100%;
    border-radius: 0;
}

    .critical-indicators .dropdown-menu a:hover {
        background: #ffa500;
        color: #fff;
    }

.critical-indicators .dropdown-menu li:last-child a {
    border-bottom: 0;
}
/* panic alert drop down end */
    #patient-panel * {
        white-space: normal;
        font-size: 1.2rem;
    }

    #patient-panel dt {
        color: #01f0f2;
    }

    #patient-panel dt, #patient-panel dd {
        display: inline;
    }

.left-nav {
    padding: 10px 10px;
    overflow-x: hidden;
}



.left-col.active {
    width: 50px;
}

/******************************************************Action Menu*************************************/
.patient-pic {
    width: 60px;
    height: 60px;
}

#action-menu {
    /*background: #1e6bac;
    width: 190px;
    left: 280px;
    position: fixed;
    padding: 5px;*/
    overflow-x: hidden;
}

    #action-menu .menu-block {
        position: relative;
    }

    #action-menu .menu-main-link {
        font-size: 12px;
        display: block;
        background: #072741;
        color: #fff;
        padding: 10px 0 10px 5px;
        margin-bottom: 5px;
        position: relative;
    }

        #action-menu .menu-main-link:hover, #action-menu .menu-main-link:focus, #action-menu .menu-main-link.active {
            background: orange;
            color: #333;
            text-decoration: none;
        }
        #action-menu .menu-main-link.disabled {
            background: #808080;
            color: #fff;
            cursor: not-allowed;
            opacity: 0.8;
        }
        #action-menu .menu-main-link .glyphicon {
            font-size: 10px;
            line-height: 30px;
            position: absolute;
            right: 5px;
        }

    #action-menu .sub-menu {
        background: #fff;
        margin-top: -5px;
        margin-bottom: 10px;
        padding: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 5px 5px;
        display: none;
    }

        #action-menu .sub-menu a {
            font-size: 11px;
            padding: 5px;
            color: #1e6bac;
            display: block;
            margin-bottom: 1px;
            position: relative;
        }

            #action-menu .sub-menu a:hover, #action-menu .sub-menu a:focus, #action-menu .sub-menu a.active {
                background: orange;
                color: #333;
                text-decoration: none;
            }


.left-col.active #action-menu .menu-main-link {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 10px;
}

    .left-col.active #action-menu .menu-main-link.active {
        line-height: 26px;
        padding: 2px;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        overflow: hidden;
        letter-spacing: -0.5px;
    }

.left-col.active #action-menu .sub-menu a {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 40px;
}

.left-col.active #action-menu .sub-menu {
    padding: 0;
}

.left-col.active #patient-panel {
    background: unset;
    padding: 0;
}

    .left-col.active #patient-panel .col-sm-4.pr-0 { /* Patient Image   */
        width: 100%;
        padding: 0;
    }
    .left-col.active #patient-panel .img-circle.patient-pic {
        width: 30px;
        height: 30px;
    }
    /*#patient-panel *:not(img)*/ .left-col.active #patient-panel .critical-indicators, .left-col.active #patient-panel span, .left-col.active #patient-panel dl, .left-col.active #patient-panel ul {
        display: none;
    }

/******************************************************Newly Admitted Patient*************************************/
/*.step {
    position: relative;
    !*width: 100px;*!
    height: 20px;
    margin-right: 20px;
    background: #c0d5e8;
    color: #c0d5e8;
}

.step:after {
    position: absolute;
    right: -19px;
    !*height: 20px;*!
    width: 20px;
    font-size: 34px;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    top: -7px;
}

.step.active {
    background: #008203;
    color: #008203;
}*/

a.step, a.step:focus, a.step:hover {
    /*text-align: center;*/
    color: #c0d5e8;
    font-family: 'DMS' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: no-drop;
    text-decoration: none;
}

    .step:after {
        content: "\e90d";
        font-size: 60px;
        position: relative;
        top: 14px;
        line-height: 0px;
    }
a.step.function {
    cursor: pointer;
}

.step.function:hover, .step.function:focus {
    color: #ffa522;
}

    .step.active {
        color: #035c05;
    }

/****************************************************** Nurse Panel Head *************************************/
.panel-nurse {
    border-color: #104878;
}

    .panel-nurse > .panel-heading {
        color: #fff;
        background-color: #104878;
        border-color: #104878;
    }

    .panel-nurse h4 {
        display: inline;
        color: white;
        font-weight: bold;
    }

    .panel-nurse a {
        color: white;
    }

        .panel-nurse a:hover, .panel-nurse a:focus {
            text-decoration: none;
        }

    .panel-nurse .icon-mask {
        font-size: 20px;
    }

    .panel-nurse h4 small {
        color: inherit;
    }

*[data-toggle="collapse"] {
    cursor: pointer;
}

.panel-heading-collapse {
    position: absolute;
    right: -5px;
    top: 5px;
}

.panel-nurse .info {
    line-height: 24px;
    font-size: 0.9em;
}

    .panel-nurse .info i {
        padding-right: 10px;
    }

.panel-nurse .panel-body {
    padding: 0;
}

.new-patients .table, .panel-nurse .table {
    margin-bottom: 0;
}

.panel-nurse thead .icon {
    font-size: 2rem;
    color: #104878;
}

.new-patients, .panel-nurse {
    margin-bottom: 15px;
}

    .new-patients h1 {
        margin: 20px auto;
    }

.table > tbody .selected {
    background: #518dbf !important;
    color: #fff;
}
/****************************************************** Patient Table *************************************/
.patient-indicator:before {
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    margin: 3px 0;
    color: #c0d5e8;
}

.patient-indicator.circle:before {
    content: "\f111";
    /*content: "\f254";*/
    display: none;
}

.patient-indicator.square:before {
    /*content: "\f0c8";*/
    content: "\f254";
    display: block;
}

.patient-indicator.green:before {
    /*content: "\f00c";*/
    color: #008203;
    /*color: #ffa522;*/
    display: block;
}

.patient-indicator.red:before {
    /*content: "\f5b7";*/
    color: #e33030;
    display: block;
}



.patient-indicator.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    -webkit-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
    border-color: #104878 transparent #104878 transparent;
    /*border-top: 3px solid #104878;*/
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}

/****************************************************** Patient Timeline *************************************/
    #timeline {
    margin-top: 20px;
    margin-left: -20px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #timeline .li {
        transition: all 200ms ease-in;
    }

    #timeline .status {
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #dedede;
        position: relative;
        transition: all 200ms ease-in;
    }

    #timeline li:last-of-type .status {
        padding: 0px 0px;
    }

    #timeline .status:before {
        content: "";
        width: 18px;
        height: 18px;
        background-color: #dedede;
        border-radius: 10px;
        border: 1px solid #dedede;
        position: absolute;
        top: -10px;
        left: 0;
        transition: all 200ms ease-in;
    }

    #timeline li:last-of-type .status:before {
        left: 100%;
    }

    #timeline .li.complete .status {
        border-top: 2px solid #008203;
    }

        #timeline .li.complete .status:before {
            background-color: #008203;
            border: none;
            transition: all 200ms ease-in;
        }

        #timeline .li.complete .status h4 {
            color: #008203;
        }

/****************************************************** Patient Critical Indicators *************************************/

.critical-indicators {
    margin: 10px;
    background: #0b3659;
    padding: 5px;
    clear: both;
}

    .critical-indicators a {
        padding: 2px;
        margin-right: 2px;
    }

    .critical-indicators a {
        /*height: 20px;
                                width: 20px;
                                background-repeat: no-repeat !important;
                                display: inline-block;*/
        float: left;
        border-radius: 2px;
        padding: 4px;
    }

        .critical-indicators a:hover {
            background-color: rgba(114, 251, 254, 0.3);
            text-decoration: none;
        }

        .critical-indicators a i::before {
            color: #ffffff;
            font-size: 20px;
            line-height: 12px;
        }

/****************************************************** Notice Legend *************************************/

.noticeLegend {
    width: 100%;
    cursor: pointer;
    position: relative;
}

.legend {
    display: inline-block;
    width: 4px;
    height: 8px;
    border-radius: 2px;
}

    .legend.vip {
        background: #0080e1;
    }

    .legend.verpal {
        background: #7dea7f;
    }

    .legend.shifted {
        background: #64c5cc;
    }

    .legend.infected {
        background: #fb050a;
    }

.noticepopover {
    min-width: unset;
    margin: 10px;
    padding: 10px 10px 0 10px;
    right: 0;
    left: unset;
}

    .noticepopover.open {
        display: block;
        color: #333333; /* fix the legend description not showing*/
    }

    .noticepopover li {
        font-size: smaller;
    }

/*************************************************************
careplane Page
*************************************************************/

.careplan * {
    line-height: 150%;
}

.panel-heading .info {
    color: #fff;
}

.careplan-section h3 {
    display: block;
    background: #d9ebfd;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0 0;
}

    .careplan-section h3.dark-blue {
        color: #fff;
        background: #104878;
    }

.careplan-item {
    display: flex;
}

    .careplan-item > div {
        flex: 1;
        margin: 0;
        padding: 0 10px;
        border-bottom: #bbd2e6 solid 1px;
    }

    .careplan-item.header > div {
        padding: 0 !important;
        border: 0 !important;
    }

    .careplan-item:last-child > div {
        border-bottom: 0;
    }

    .careplan-item > div:nth-child(2) {
        border-right: #bbd2e6 solid 1px;
        border-left: #bbd2e6 solid 1px;
    }

    .careplan-item .form-control {
        width: auto;
        display: inline;
    }

    .careplan-item i {
        font-size: 16px;
        top: 3px;
    }

    .careplan-item .glyphicon-trash {
        color: red;
    }

    .careplan-item .goal-item-text {
        width: 100%;
        padding-right: 0px;
    }

    .careplan-item .goal-item-controls {
        width: 150px;
        position: absolute;
        top: 10px;
        right: 0;
        text-align: right;
        text-transform: capitalize;
    }

        .careplan-item .goal-item-controls .delete {
            display: none;
        }

.careplan.SaveMode select::-ms-expand {
    display: none;
}

.careplan.SaveMode select {
    border-radius: 5px;
    border: 1px #e0e0e0 solid;
    background: #1e6bac;
    -webkit-appearance: none;
    color: #e0e0e0;
}

.careplan.SaveMode textarea {
    padding: 10px;
    min-height: 75px;
    border-radius: 5px;
    border: 1px #e0e0e0 solid;
    width: calc(100% - 20px);
    margin-right: 0px;
    background: #ecf5ff;
}

.goal-item {
    position: relative;
    border: 0 1px 1px 1px;
    border-color: #bcd2e6;
    padding: 10px 0;
}

.interventions-item {
    position: relative;
    border: 0 1px 1px 1px;
    border-color: #bcd2e6;
    padding: 10px 0;
}

.careplan-item .interventions-item-text {
    width: 100%;
    padding-right: 25px;
}

.careplan-item .interventions-item-text {
    width: 100%;
    padding-right: 150px;
}

.careplan textarea {
    width: 100% !important;
    margin-left: -5px;
}

.careplan .careplan-item .interventions-item-text span, .careplan .careplan-item .goal-item-text span {
    display: inline-block;
    padding: 10px;
    min-height: 75px;
    border-radius: 5px;
    border: 1px #e0e0e0 solid;
    width: calc(100% - 20px);
    margin-right: 0px;
    background: #ecf5ff;
}

.careplan-item .interventions-item-controls {
    width: 150px;
    position: absolute;
    top: 10px;
    right: 0;
}

    .careplan-item .interventions-item-controls .delete {
        display: none;
    }

.careplan-item .problem-item .delete {
    display: none;
}

.repetitive-select {
    width: 250px;
    left: -120px;
    font-size: 12px;
    text-align: center;
    background: #bbd2e6;
    padding: 10px;
}

    .repetitive-select .btn {
        height: 24px;
        margin: 5px 0 0;
        line-height: 100%;
        min-width: 100px;
    }

.careplan.liveMode .repetitive-container.once .repetitive-select.open {
    display: none;
}

.careplan .repetitive-container.repetitive .repetitive-select.open, .careplan .repetitive-container .repetitive-select.open {
    display: block;
}



.careplan-item-controls {
    display: none;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.square-icon {
    width: 20px;
    min-width: unset;
    margin: 0;
    padding: 0;
    height: 20px;
}
    .square-icon i {
        font-size: 10px;
    }

.careplan .careplan-item .repetitive-select input, .careplan.editMode .careplan-item .repetitive-select select {
    pointer-events: none;
}

.careplan .careplan-item .interventions-item-controls .InterVenStartDate {
    width: 105px;
}

.careplan .careplan-item .repetitive-select a {
    display: inline;
}

.careplan-item > .add-new {
    position: absolute;
    z-index: 2;
    left: 140px;
    top: 15px;
}

.careplan-item .problem-item .form-control {
    width: 100%;
}

.SaveMode .repetitive-container .repetitive-dropdown {
    display: none;
}

.SaveMode .repetitive-container.repetitive .repetitive-dropdown {
    display: inline;
}

.SaveMode .repetitive-container .repetitive-dropdown {
    color: #808080;
}

.SaveMode .repetitive-container.repetitive .repetitive-dropdown {
    display: inline;
}

.SaveMode .repetitive .fa-retweet {
    color: #3370aa;
}
.editMode .fa-retweet {
    color: #a9a9a9;
}
.editMode .repetitive .fa-retweet {
    color: #3370aa;
}



/**** Edit Mode ****/
.careplan.editMode .careplan-item .goal-item-text {
    padding-right: 150px;
}

.careplan .careplan-item .goal-item-text {
    padding-right: 150px;
}

.careplan.editMode .problem-item textarea {
    margin: 10px 0 0 0;
}

.careplan .problem-item .inline-edit, .careplan.editMode .problem-item .inline-edit {
    display: block;
}

.careplan.editMode .careplan-item .goal-item-controls .delete {
    display: inline;
}

.careplan.editMode .careplan-item .interventions-item-text {
    padding-right: 150px;
}

.careplan.editMode .careplan-item .interventions-item-controls {
    width: 150px;
}

    .careplan.editMode .careplan-item .interventions-item-controls .InterVenStartDate {
        width: 105px;
    }
.careplan.editMode .careplan-item select.form-control {
    display: inline !important;
}

.careplan.editMode .careplan-item .interventions-item-controls .delete {
    display: inline;
}

.careplan.editMode .careplan-item .problem-item .delete {
    display: inline;
    width: 20px;
    float: left;
    position: relative;
    top: -5px;
}

.careplan.editMode .careplan-item .repetitive-select input, .careplan.editMode .careplan-item .repetitive-select select {
    pointer-events: all;
}

.careplan .careplan-item .repetitive-select span {
    color: #a30e24;
}

.careplan.editMode .careplan-item .repetitive-select a {
    display: inline;
}

.careplan.editMode .careplan-item > div {
    padding: 0 10px 15px;
    position: relative;
}

.careplan.editMode .careplan-item:first-of-type > div.problem-item {
    margin-top: 0;
}

.careplan.editMode .careplan-item > div.problem-item {
    margin-top: 10px;
}

.careplan.editMode .careplan-item-controls {
    display: block;
}

/* break words on evaluation review table */
.break-words .table tr {
    white-space: unset;
}

.careplan-item label {
    overflow: unset;
}
/* Care Plan parts ordering Example */
.goal-container {
    order: 0;
    flex-grow: 1 !important;
}


.new {
    display: none;
}

/*@media (min-device-width: 320px) and (max-device-width: 700px) {
    #timeline {
        list-style-type: none;
        display: block;
    }

    #timeline .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }

    #timeline .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }
}*/



.white-space-normal {
    white-space: normal;
}



/*************************************************************
Medical Sheet Page
*************************************************************/

.page-filter .btn-primary {
    margin-top: 22px;
}
.page-filter .switch-slider label.clearfix {
    width: 100%;
}
.page-filter .switch {
    margin-top: 5px;
    margin-left: 10px;
}
/** iframe **/

.IframeModal .modal-dialog {
    width: 90%;
    height: 90%;
    margin: 50px auto 0 auto;
    padding: 0;
}

.ModalPainScore iframe {
    width: 100%;
    height: 500px;
    border: none;
}
.nurse-review .panel-nurse {
    border-color: transparent;
    margin-bottom: 0
}

.nurse-review ul {
    margin-bottom: 0
}

    .nurse-review ul li {
        line-height: 1.7;
    }

.nurse-review p {
    white-space: normal;
    line-height: 1.7;
    margin-bottom: 0
}

.nurse-review--planned-1 {
    color: #5cb85c !important
}

.nurse-review--real-1 {
    color: #e33030
}

.pointer {
    cursor: pointer !important;
}

.nurse-add-service,
.maintain_bed_no,
.headNurse_cancel_service {
    display: none
}


/*************************************************************
                Head Nurse Implementation
*************************************************************/

/* ---------------------- Datatable Filter ---------------------- */
    /* author */
    #implementation .author {
        position: relative;
    }

    #implementation .author .name {
        /*margin: 15px 0 40px 0;*/
    }

    #implementation .author .date {
        font-size: smaller;
        text-align: left;
        margin-top: 5px;
        display: block;
        color: #175284;
        line-height: 11px;
    }

    #implementation .author .tooltip {
        opacity: 1;
    }

    #implementation .author .tooltip .tooltip-inner {
        background: rgba(77,77,77,1);
        color: #ffffff;
        border: 2px solid rgba(77, 77, 77,0.8);
        -webkit-box-shadow: 2px 1px 4px -1px rgb(113, 113, 113);
        -moz-box-shadow: 2px 1px 4px -1px rgb(113, 113, 113);
        box-shadow: 2px 1px 4px -1px rgb(113, 113, 113);
    }

    #implementation .author .tooltip.top .tooltip-arrow {
        border-top-color: rgba(77,77,77,1);
    }

    #implementation .author .tooltip.right .tooltip-arrow {
        border-right-color: rgba(77,77,77,1);
    }

    #implementation .author .tooltip.left .tooltip-arrow {
        border-left-color: rgba(77,77,77,1);
    }

    #implementation .author .tooltip.bottom .tooltip-arrow {
        border-bottom-color: rgba(77,77,77,1);
    }

    #implementation .author .popover {
        min-width: 200px;
        background: #bbd2e6;
    }

    #implementation .author .popover.bottom > .arrow:after {
        border-bottom-color: #bbd2e6;
    }

    #implementation .author .popover-title {
        padding: 8px 14px;
        margin: 0;
        font-size: 12px;
        border-bottom: 0;
        line-height: 18px;
        background: unset;
        color: #333;
    }

    #implementation .author .popover-content {
        display: none;
    }

    #implementation .description {
        min-width: 300px;
    }

    #implementation .description .fa-newspaper {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }

    /* Colors */
    #implementation .fas, #implementation [class^="icon-"] {
        font-size: 12px;
    }

    table.dataTable > thead > tr > th {
        border-bottom: 1px solid #1e6bac;
    }


    #implementation .source.doctor .fas, #implementation .source.doctor [class^="icon-"] {
        color: #1e6bac;
    }

    #implementation .source.nurse .fas, #implementation .source.nurse [class^="icon-"] {
        color: #327c80;
    }

    #implementation .source.medical .fas, #implementation .source.medical [class^="icon-"] {
        color: #ac7848;
    }

    #implementation .source.lab .fas, #implementation .source.lab [class^="icon-"] {
        color: #456b47;
    }

    #implementation .source .fas, #implementation .source [class^="icon-"] {
        font-size: 20px;
    }

    #implementation .fa-comment, #implementation .fa-newspaper, #implementation .fa-check-circle {
        color: #1e6bac;
    }

    #implementation .fa-check-double:not(.active) {
        color: #9c9c9c;
        cursor: pointer;
    }

    #implementation .fa-check-double.active, #implementation .fa-check {
        color: green;
    }

    #implementation .fa-times-circle {
        color: #c0d5e8;
    }


    #implementation [data-toggle="popover"] {
        cursor: pointer;
    }


    #implementation .edit-table {
        width: 100%;
    }

    #implementation .edit-row {
        border-bottom: 0;
    }

    #implementation .edit-td h3 {
        display: block;
        background: #1e6bac;
        color: #fff;
        padding: 0 0 0 10px;
    }

        #implementation .edit-td h3 a.close-edit {
            color: #fff;
            margin: 5px;
        }

    .showReview .dropdown-menu {
        width: 250px;
        top: 15px;
        left: 40px;
        font-size: 12px;
        text-align: center;
        background: #bbd2e6;
        padding: 10px;
    }

        .showReview .dropdown-menu.open {
            display: block;
        }



/*************************************************************
                Assign Nurse
*************************************************************/

.assign-nurse .select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
    top: 7px;
    color: #888888;
}
.assign-nurse .select2-container .select2-selection--single {
    background-color: rgba(255, 255, 255, 0.3);
    min-height: 92px;
    height: auto;
}

.select2-dropdown{
    background: #bdbdbd;
    box-shadow: 0px 3px 10px rgba(33, 114, 169, 0.6);
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    box-shadow: 0px 3px 10px rgba(33, 114, 169, 0.6);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(51, 122, 183, 0.5);
}

.table tr.shift-2{
    background: rgba(255, 165, 0, 0.1);
}
/*.table tr.shift-2{
    background: rgba(255, 144, 121, 0.3);
}*/
.table tr.shift-3{
    background: rgba(114, 129, 153, 0.1);
}