/****************** Stats Blocks ******************/
.small-stat-block {
    padding: 0px;
    margin: 0 0 10px 0;
    border: 2px #3370aa solid;
    border-radius: 5px;
    text-align: center;
    position: relative;
    min-height: 120px;
}

    .small-stat-block h3 {
        display: block;
        color: #3370aa;
        font-size: 16px;
        text-align: center;
        margin: 10px;
        padding-top: 10px;
    }

        .small-stat-block h3.stats-definition {
            margin: 0;
            background: #3370aa;
            color: #fff;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

    .small-stat-block .split table {
        width: 100%;
    }

    .small-stat-block .split tr, .small-stat-block .split td {
        color: #3370aa;
        font-size: 12px;
        text-align: center;
        margin: 10px;
    }

.block {
    padding: 15px;
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    margin: 20px 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.required-competence .pre-scrollable, .required-knowledge .pre-scrollable {
    max-height: 160px;
}


/****************** Nurse Station Budget ******************/
.term {
    font-size: 12px;
    font-weight: 600;
    color: #1e6bac;
}

.definition {
    font-size: 12px;
    font-weight: 400;
}

.nurse-station-budget {
    margin: 20px 0 0 0;
}

    .nurse-station-budget select.form-control {
        width: 60px;
    }

    /*Edit */
    .nurse-station-budget .edit {
    }

/****************** Distribute & Re-distribute Nurses ******************/
.moveIn {
    background: #dfdfdf;
    vertical-align: top;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf !important;
}

    .moveIn i {
        font-size: 20px;
        color: #2172a9;
    }

.rotate-180 {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}

.moveOut {
    cursor: pointer;
    color: red;
}


.action-pool-header {
    background: #2172a9;
    border-radius: 10px 10px 0 0;
    padding: 5px 10px 0;
}

    .action-pool-header h3 {
        color: #fff;
        margin: 0;
        font-size: small;
    }

    .action-pool-header .badge {
        font-size: 10px;
        vertical-align: unset;
        background: #fff;
        color: #2172a9;
    }

.action-pool-body {
    background: #fff;
    padding: 0 10px;
    border: 1px solid #2172a9;
}


.nurse-stations-distribute-pool {
    position: fixed;
    /*height: 100%;*/
    right: 10px;
    bottom: 0;
}

.action-pool {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    margin-right: 10px;
    box-sizing: content-box;
}

.action-pool-btn.collapsed .fa-chevron-circle-down:before {
    content: "\f139";
}

.action-pool-btn {
    color: #fff;
    float: right;
    line-height: 20px;
}

    .action-pool-btn:hover, .action-pool-btn:focus {
        color: #bbd2e6;
    }

.nurse-station input {
    display: none
}

.action-pool td {
    /*display: none;*/
}

    .action-pool td.show-in-pool {
        display: table-cell;
    }

        .action-pool td.show-in-pool span {
            display: none;
        }

/***************************** Roster **************/
.roster-table {
    border-left: 1px solid #d8e8f7 !important;
    border-right: 1px solid #d8e8f7 !important;
}

    .roster-table table {
        margin-bottom: 5px;
    }

    .roster-table th.rotate-45 {
        height: 80px;
        white-space: nowrap;
    }

        .roster-table th.rotate-45 > div {
            width: 30px;
            -webkit-transform: translate(24px, 20px) rotate(315deg);
            transform: translate(24px, 20px) rotate(315deg);
        }

            .roster-table th.rotate-45 > div > span {
                border-bottom: 1px solid #ccc;
                padding: 5px 10px;
            }

    .roster-table .divider {
        background: #ccc;
    }

    .roster-table tbody > tr > td, .roster-table tbody > tr > th {
        width: 30px;
        border-right: 1px solid #ccc;
        white-space: nowrap !important;
    }

    .roster-table .indicators {
        position: relative;
        text-align: right;
        height: 0;
    }

        .roster-table .indicators .glyphicon:before {
            font-size: 8px;
            position: absolute;
            /*color: #1e6bac;*/
            bottom: 4px;
        }

        .roster-table .indicators .glyphicon:hover:before {
            /*color: orange;*/
        }

    .roster-table .shift {
        cursor: pointer;
    }

    .roster-table .shift.preferred:hover, .roster-table .shift.preferred:focus {
        background-color: #b8edc0;
        cursor: pointer;
        color: #00bc1d;
    }

    .roster-table .shift.preferred {
        /*color: #00bc1d;
    background-color: #ccf2d2;
    cursor: default;*/
        color: #00bc1d;
        background-color: #ebffe9;
        cursor: default;
        background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(184, 237, 192, 0.5) 4px, rgba(204, 242, 210, 0.5) 8px);
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(184, 237, 192, 0.5) 4px, rgba(204, 242, 210, 0.5) 8px);
    }


    .roster-table .shift.warning:hover, .roster-table .shift.warning:focus {
        background-color: #fcdfc3;
        cursor: pointer;
        color: #F6993F;
    }

    .roster-table .shift.warning {
        /*color: #F6993F;
    background-color: #fde7d1;
    cursor: default;*/
        color: #F6993F;
        background-color: #fdf7da;
        cursor: default;
        background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(252, 223, 195, 0.5) 4px, rgba(253, 231, 209, 0.5) 8px);
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(252, 223, 195, 0.5) 4px, rgba(253, 231, 209, 0.5) 8px);
    }


    .roster-table .shift.problem:hover, .roster-table .shift.problem:focus {
        background-color: #fbc9ce;
        cursor: pointer;
        color: #ef2135;
    }

    .roster-table .shift.problem {
        /*color: #ef2135;
    background-color: #fcd3d7;
    cursor: default;*/
        color: #ef2135;
        background-color: #fffefd;
        cursor: default;
        background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(251, 201, 206, 0.5) 4px, rgba(252, 211, 215, 0.5) 8px);
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(251, 201, 206, 0.5) 4px, rgba(252, 211, 215, 0.5) 8px);
    }

    .roster-plan .shift-plan.danger {
        color: #ef2135;
        background-color: #fffefd;
        cursor: default;
        background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(251, 201, 206, 0.5) 4px, rgba(252, 211, 215, 0.5) 8px);
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(251, 201, 206, 1) 4px, rgba(252, 211, 215, 1) 8px);
    }

#nurse-info .list-group-item.text-right {
    line-height: 18px;
}


.nurse-station {
    margin-top: 10px;
}

    /*.nurse-station .term {
        font-size: 16px;
    }

    .nurse-station .definition {
        font-size: 16px;
    }*/
/***************************** Media Queries **************/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/**********************************Alert Message **************************************************/
.alert {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5000;
    display: none;
    opacity: 0;
}

.alert-dismissable .close {
    text-shadow: none;
    font-weight: normal;
    opacity: 0.5;
}

.alert-danger {
    background: #a94442;
    border-color: #a94442;
    color: #fff;
}

.alert-success {
    background: #257c4c;
    border-color: #257c4c;
    color: #fff;
}

.result-loader {
    position: fixed;
    top: 97px;
    right: 20px;
    bottom: 30px;
    left: 250px;
    text-align: center;
    background: rgba(255,255,255,0.5);
    z-index: 500;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

.right-content.active .result-loader {
    left: 60px;
}

.result-loader img {
    top: 50%;
    position: relative;
}
/********* confirm delete modal btn*********/
.btn-secondary {
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    line-height: inherit;
    text-decoration: none !important;
    background: #a5a7a9;
}
    .btn-secondary:hover {
        background: orange;
    }

.small-width {
    width: 14% !important;
    margin-right: 7px;
}


.dub-line h3 {
    margin: 11px 10px 2px !important;
    padding-top: 14px !important;
}


.chart-setting {
    position: absolute;
    right: 24px;
    top: 27px;
}
.chart-setting i { font-size:15px;
}

/**********************************Roster Plans **************************************************/

.roster-plan-table {
    border-left: 1px solid #d8e8f7 !important;
    border-right: 1px solid #d8e8f7 !important;
    border-bottom: 1px solid #d8e8f7 !important;
}

.roster-plan.active .light-blue {
    background: #1e6bb8;
}

.roster-plan.active .term {
    color: #fff;
}

.roster-plan.active .definition {
    color: #fff;
}

.roster-plan.active .roster-plan-table {
    border-left: 1px solid #1e6bb8 !important;
    border-right: 1px solid #1e6bb8 !important;
    border-bottom: 1px solid #1e6bb8 !important;
}


.roster-plan-table .table {
    margin-bottom: 0px;
}

.table > thead > tr > th, .table > tbody > tr > th {
    white-space: normal;
}

.roster-plan-table th.rotate-45 {
    height: 55px;
    white-space: nowrap;
    padding: 10px;
}

    .roster-plan-table th.rotate-45 > div {
        width: 10px;
        -webkit-transform: translate(10px, 4px) rotate(315deg);
        transform: translate(10px, 4px) rotate(315deg);
    }

        .roster-plan-table th.rotate-45 > div > span {
            border-bottom: 1px solid #ccc;
            padding: 5px 1px;
        }

.roster-plan-table .divider {
    background: #ccc;
}

.roster-plan-table tbody > tr > td, .roster-plan-table tbody > tr > th {
    width: 30px;
    border-right: 1px solid #ccc;
    padding: 4px;
}

.roster-plan-table thead  th  div {
    text-align: center;
}



.shift .occupied::before {
    content: " ";
    display: block;
    background: #900;
    height: 10px;
    border-radius: 2px;
}

.shift.shift-1 .occupied::before {
    background: #ffa500;
}

.shift.shift-2 .occupied::before {
    background: #ff9079;
}

.shift.shift-3 .occupied::before {
    background: #728199;
}


/* switch */
[class^="shift-"] .shift-plan label {
    position: relative;
    display: block;
    width: auto;
    height: 14px;
    margin-right: 0px;
    margin-bottom: -2px;
}

[class^="shift-"] .shift-plan label input {
    display: none;
}

[class^="shift-"] .shift-plan span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    border-radius: 2px;
    background-color: rgba(00,00,00,0.15);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

.shift-1 .shift-plan label input:checked + span, .shift-1 .shift-plan label input:focus + span {
    background: #ffa500;
}

.shift-2 .shift-plan label input:checked + span, .shift-2 .shift-plan label input:focus + span {
    background: #ff9079;
}

.shift-3 .shift-plan label input:checked + span, .shift-3 .shift-plan label input:focus + span {
    background: #728199;
}
/* Disabled Shift */
.roster-plan.disabled label {
    pointer-events: none;
}



/* Plane Actions */
.roster-plan .actions .fas, .roster-plan .actions .far, .roster-plan .actions .glyphicon{
    font-size: 16px;
    margin: 0 0 0 5px;

}
/********************************** End Roster Plans **************************************************/

/********************************** Step Constraint **************************************************/
fieldset.scheduler-border {
    border: solid 1px #b7d2ee !important;
    padding: 0 15px 10px;
    border-bottom: none;
    margin-bottom: 15px;
    border-radius: 3px;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
    color: #1e6bac;
    padding: 0 10px;
    margin-bottom: 5px;
    font-weight: 700;
}

.scheduler-border .form-group:last-of-type {
    margin-top: 5px;
}

/**********************************End Step Constraint **************************************************/


.action-save {
    display: none;
}

.action-container.changed .action-save {
    display: block;
}

.width-33{
    width: 33%;
}

.list-group-item.text-muted {
    background: #d8e8f7;
    color: #1e6bac;
    font-weight: 700;
}

/**********************************End Step Constraint **************************************************/

.info-popover {
    display: inline-block;
}

    .info-popover .fa-info-circle {
        color: #2171a9;
    }

    .info-popover .popover {
        top: 52px;
        left: 128.375px;
        display: block;
        font-size: 12px;
        max-width: 500px;
        background: #ffc356;
    }

        .info-popover .popover.right > .arrow:after {
            border-right-color: #ffc356;
        }

        .info-popover .popover strong {
            font-size: 16px;
        }

/**********************************DashBoard **************************************************/

.chart {
    padding: 10px;
    min-height: 340px;
}

.highcharts-data-labels {
    display: block;
    opacity: 1;
}
