<nav class="navbar navbar-default navbar-fixed-top header">
  <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-target="#mynav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="menu-toggle left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="assets/images/app-logo.png" class="navbar-brand">
        </div>
        <!--end navbar-header-->
        <div class="collapse navbar-collapse" id="mynav navbarSupportedContent">>
            <ul class="navbar-nav ms-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ahmed Elgarhy
                        <span class="caret"></span>
                    </a>
                    <!--end dropdown-toggle-->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a href="#" class="dropdown-item">change password</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">logout</a>
                        </li>
                    </ul>
                    <!--end dropdown-menu-->
                </li>
                <!--end dropdown-->
            </ul>
            <!--end navbar-nav-->
        </div>
        <!--end navbar-collapse-->
    </div>
    <!--end navbar-->
</nav>
